<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.spbstu.appmath.Workout_Journal"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="22"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_label" android:icon="@drawable/wj_icon"
            android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".MainActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TrainingCreatingActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>

        <activity android:name=".HistoryActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>

        <activity android:name=".HistoryTrainingActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HistoryActivity"/>
        </activity>

        <activity android:name=".ExerciseChoosingActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TrainingCreatingActivity"/>
        </activity>

        <activity android:name=".ExerciseInfoActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ExerciseChoosingActivity"/>
        </activity>

        <activity android:name=".SetsCreatingActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ExerciseChoosingActivity"/>
        </activity>

        <activity android:name=".HelpActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>

        <activity android:name=".TrainingPreviewActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>


        <activity android:name=".TrainingStartingActivity"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TrainingPreviewActivity"/>
        </activity>

    </application>
</manifest>
